@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    font-family: Lexend, sans-serif;
    box-sizing: border-box;
    

}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #dcdcdc;
  }

  ::-webkit-scrollbar-thumb {
    background: #287add;
    border-radius: 4px;
  }


body{
    background: #f3f3f3;
}


h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}

/* NAV, MENU SEI LÁ */

.logo{
    transition: 0.6s;
    min-width:200px;
    max-width: 200px;
}
.sticky .logo .st0{fill:#040C28;}
.sticky .logo .st1{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.sticky .logo .st2{fill:#040C28;}
.sticky .logo .st3{fill:#2BD684;}
.sticky .logo .st4{fill:#2AB2DB;}
.sticky .logo .st5{fill:#5724E2;}
.sticky .logo .st6{fill:#2735E0;}
.sticky .logo .st7{fill:#287ADD;}
.sticky .logo .st8{clip-path:url(#SVGID_4_);fill:none;stroke:#287ADD;stroke-width:8;stroke-miterlimit:10;}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div {
    height: 2px;
    width:32px;
    margin: 6px;
    background-color: #f7f7f7;
    transition: 0.3s;
}
.nav-links{
    color:#f7f7f7;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.6s;
    
}

.nav-links:hover{
    color:#287add;
    opacity: 0.6;
}

.nav-list{
    list-style: none;
    display:flex;
}

.nav-list li{
    
    position:relative;
    margin-left:32px
}

nav{
    transition: 0.4s;
    padding: 60px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    position: fixed;
    z-index:100000;
    

}
.sticky{
    padding: 5px;
    background-color: #f7f7f7;
}
.sticky .nav-links{
    color:#1d1d1d;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.6s;
}
.sticky .nav-links:hover{
    color:#287add;
    opacity: 0.6;
} 
.sticky .mobile-menu div {
    height: 2px;
    width:32px;
    margin: 6px;
    background-color: #287add;
    transition: 0.3s;
}



/* ACABOU O MENU*/

/* TLGD O BANNER? ENT */

.inicio{

    display: flex;
    align-items: center;
    justify-content: space-around;
         /*For browsers that do not support gradients */
    /*background-image: linear-gradient(to bottom right, rgb(139, 13, 223), rgb(98, 0, 255));*/
    height: 95vh;
}

.img-banner{
    background:url(../images/2247539-abstract-with-geometric-forms-product-presentation-mock-up-design-vector-illustration-vetor.jpg) no-repeat center center;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.Slogan-topo{
    
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-bottom: 4%;
    font-weight: bold;
    letter-spacing: 0px;
    
}
.text-Topo{

}
.btn-saberMais{

    width: 20%;
    text-align: center;
    display:block;
    border: 1px solid #5711fb;
    margin-top:30px;
    outline: none;
    color: #f7f7f7;
    background: #297add;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.8s ease;
}

.Content-text{
    width: 50%;
    color: #f3f3f3;
}
.Content-text p{
    font-size: 1.25rem;
}
.list-Social{
    flex-direction: column;
    width: 20px;
}
.list-Social svg{
    margin-bottom: 2rem;
}
.st0:hover{
    transition: 0.5s;
    fill: #13d4a4;
}
.list-Social{
    list-style: none;
}

/* ENT O BANNER ACABOU, MAS EU N ACABEI AINDA ENT N ACABOU*/

.fraseTopo{
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* AQUI VC VAI TER UM CONTAINER FLEX, CARACTERISTICA? FLEX BOX NÉ FILHÃO, USA PRA DEIXAR RESPONSIVO*/
.sobre{
    background-color: #f3f3f3;
}
.servicos{
    
}
.equipe{
    background-color: #f3f3f3;
}
.container-flex{
    padding:6% auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 3rem;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin:1% auto;
    gap: 2rem;

}

.conheca{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight:600;
    margin-top: 5%;
    margin-bottom: 2%;
}
.container-flex > .card{
    /*flex: 1 1 150px;*/
}
.cardEquipe{
    max-width: 250px;
    padding:40px 10px ;
    justify-content: center;
    border-bottom: 5px solid #287add;
    text-align: center;
    background: #f7f7f7;
    box-shadow: 0 0 1em #dcdcdc;
    transition: 0.7s;
}
.cardEquipe:hover{
   
    
    box-shadow: 0 0 2em #bebebe;
}
.card{
   
    max-width: 250px;
    padding:40px 10px ;
    justify-content: center;
    text-align: center;
    background: #f7f7f7;
    box-shadow: 0 0 1em #dcdcdc;
    transition: 0.7s;
}
.card:hover{
   
    
    box-shadow: 0 0 2em #bebebe;
}
.servico1{
    background: #f7f7f7;
    
    border-radius: 5px;
    border-top: 5px solid #24c49c;
    transition: 0.5s ease ;
    
}

.servico2{
    border-radius: 5px;
    background:#f7f7f7;
    border-top: 5px solid #287add;
    transition: 0.7s;
    
}

.titulo-card{
    font-weight: 500;
    margin-top:20px;
    color: #646464;

}
.text-card{
    margin-top:5%;
    color: #1d1d1d;


}
.Img-card-topo{

    border-radius:0px;
    max-width: 40%;
}
.Img-card-equipe{
    border-radius:180px;
    max-width: 70%;
}


/* CONTAINER PAI CORUJA */

.tituloPaicoruja{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    
}
.Paicoruja{
    padding: 2%;
    font-weight:400;
}

/* O CARD HORIZONTAL */
.card-horizontal {
    
    background-color:#f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
    padding: 2rem 12%;
    align-items: center;
}

.card-horizontal2 {
    background-image: linear-gradient(to bottom right, #2ab2db, #2735e0,#297add );
    display: flex;
    height: 85vh;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3rem 11% ;
    align-items: center;
}




.Img-Card-4-3 {
    align-items: center;
    width: 50%
}

.Img-Card-16-9 {
    align-items: center;
    width: 60%
}


.Img-Card-16-9 img {
    object-fit: cover;
    /* border-radius: 2rem; */
    display: flex;
    max-width: 100%;
}

.Img-Card-4-3 img {
    object-fit: cover;
    /* border-radius: 2rem; */
    display: flex;
    max-width: 100%;
}


.hrz-text-card1 { 
    width: 60%;
    padding: 5rem 2rem;
}
.hrz-text-card1 h1{
    text-align: justify;
    color:#2ab2db;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}
.hrz-text-card2 {
    width: 50%;
    padding: 5rem 2rem;
}

.hrz-text-card1 p{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1rem;
}

.hrz-text-card2 h1{
    letter-spacing: 1px;
    text-align: justify;
    color:#f7f7f7;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}
.hrz-text-card2 p{
    color: #f7f7f7;
    font-weight: 500;
    font-size: 1rem;
}




/* EQUIPE DE DESENVOLVIMENTO*/

/* CONTATO */

.container-grid{
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    margin:0 12%;
    padding-bottom: 5rem;
    gap: 0rem;
}

.icones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background:#f7f7f7;
    padding:40px;
    width:40%;
    height: 300px;
    border:0;
    box-shadow: 0 0 1em #dcdcdc;
}

.iconesSuporte{
    
    width:100%;
    display: flex;

}

.textSuporte{
    margin-left: 8px;
    display:list-item;
    list-style: none;
}

.titulo-Suporte{
    font-weight: 400;
}

.endereco{
    min-width: 60%;
    
    height: 300px;
    box-shadow: 0 0 1em #dcdcdc;
}

.mapa{
    max-width: 100%;
    width: 100%;
    min-width:300px;
    height: 300px;
    border:0;
    box-shadow: 0 0 1em #dcdcdc;
}

.formContrato{

    text-align: space-around;
    background:#f7f7f7;
    padding: 5%;
    height: 500px;
    width: 100%;
    box-shadow: 0 0 1em #dcdcdc;
}

.tituloContrato{
    text-transform: capitalize;
    text-align: center;
    font-weight:400;
    margin-bottom:10px;
}

.textContrato{
    text-align: center;
}

.formulario{
    margin-top: 40px;
    justify-content:center;
}

.linhaFormulario{

    margin:0 auto;
    width:80%;
}

.inputType1{

    margin-top: 10px;
    margin-bottom: 10px;
    outline: 1px solid #dcdcdc;
    padding: 15px;
    width: 100%;
    border:0px;

}

.assunto{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border: 0px;
    outline: 1px solid #dcdcdc;
}

.textArea{
    margin-top: 20px;
    width: 100%;
    padding:15px ;
    padding-bottom: 50px;
    border: 0px;
    outline: 1px solid #dcdcdc;
}

.divBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    background-image: linear-gradient(to right, #2ab2db,#5711fb, #2735e0,#297add,#24c49c );
    height: 5px;
    width: 100%;

}




/* O CARD HORIZONTAL */






.card-horizontal {
    display: flex;
    flex-direction: row;
    padding: 10%;
    align-items: center;
}
.card-horizontal2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10%;
    align-items: center;
}






/* THE RODAPE */






.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: #282b30;
    color: white;

    border-bottom-width: 2rem;
    border-bottom-style:solid;
    border-bottom-color:#5711fb
}



.bifrost-img {
    height: 4rem;
    width: auto;
    margin: 0;
}

.div-1 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #c7c7c7;
}

.div-1{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.div-2{
    
    text-align: left;
}
.div-2 ul li {
    list-style:none;
}
.div-2 ul li a{
    font-size: 0.80rem;
    color:#f3f3f3;
}

.div-2 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #c7c7c7;
}
.div-3 h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #c7c7c7;
}

.div-3{
    text-align: right;
}



.div-3  {
    /* background-color: #b0b0b0; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0rem;
    list-style-type: none;
}

.div-3 .rodape-social svg {
    width: 1.5rem;
}

.newsletter{
    display: flex;
    flex-direction: column;
}

.newsletter{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.newsletter input{
    border: none;
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
}

.newsletter button{
    border: none;
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
    background-color: #0411be;
    color: #f3f3f3;
}


.Img-Card {
    align-items: center;
    width: 20%
}

.Img-Card > img {
    object-fit: cover;
    border-radius: 2rem;
    display: flex;
    width: 100%
}




/*.footer-2{

    
    /* caso queira aquela barrinha do rodapé, usa isso aq 
}*/








/* MEDIAS */

@media(max-width: 1080px) {
    html {
        font-size:93.75%;
    }
    .logo{
        width: 93.75%;
    }
    .btn-saberMais{

        width: 30%;
        
    }
}
@media (max-width:999px){
    body{
        overflow: hidden;
    }
    .nav-list{
        position: absolute;
        top: 12vh;
        right:0;
        width:50vw;
        height: 92vh;
        background: #f3f3f3;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links{
        color:#1d1d1d;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.6s;
    }
    .nav-links:hover{
        color:#287add;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.6s;
    }
    .nav-list li{
        margin-left: 0px;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }

      .mobile-menu.active .line2 {
        opacity: 0;
      }

      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-3px, -5px);
      }
    .linhaFormulario{
        display: block;
    }
    .card-horizontal {
    
       
        height:auto;
        
    }
    
    .card-horizontal2 {
       
        height:auto;
        
    }
    
}
@media(max-width: 840px) {
    .card-horizontal {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem  1rem;
    }
    .card-horizontal2 {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hrz-text-card1 {
        
        width: 100%;
        
    }
    .hrz-text-card2 {
        
        width: 100%;
        
    }
    .Img-Card-4-3 {
        align-items: center;
        width: 60%
    }
    
    .Img-Card-16-9 {
        align-items: center;
        width: 60%
    }
    .btn-saberMais{

        width: 40%;
        
    }
}
@media (max-width:765px){

    .icones{

        width:100%;

    }
    .endereco{
        width: 100%;
    }
    .container-grid{
        margin:0;
    }
}

@media(max-width: 720px) {
    html {

font-size:87.5%;
    }

    .logo{
        width: 87.5%;
    }
    .icones{
        width:100%;
    }
    .Img-Card-4-3 {
        align-items: center;
        width: 100%
    }
    
    .Img-Card-16-9 {
        align-items: center;
        width: 100%
    }
    .btn-saberMais{

        width: 50%;
        
    }
}



@media(max-width: 840px) {
    .card-horizontal {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-horizontal2 {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer-1 {
        flex-direction: column;
    
    }
    .footer-1 .div-1{
        flex-direction: column;
        text-align: center;
    }
    .footer-1 .div-2{
        padding: 2rem 0rem;
        flex-direction: column;
        text-align: center;
    }
    .footer-1 .div-3{
        padding: 2rem 0rem;
        flex-direction: column;
        text-align: center;
    }
    .footer-1 .div-3 .newsletter{
        padding: 2rem 0rem;
        flex-direction: column;
        text-align: center;
    }
}









