/* CONTAINER PAI CORUJA */

.tituloPaicoruja{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    
}
.Paicoruja{
    padding: 2%;
    font-weight:400;
}

/* O CARD HORIZONTAL */
.card-horizontal {
    
    background-color:#f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
    padding: 2rem 12%;
    align-items: center;
}

.card-horizontal2 {
    background-image: linear-gradient(to bottom right, #2ab2db, #2735e0,#297add );
    display: flex;
    height: 85vh;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3rem 11% ;
    align-items: center;
}

.Img-Card-4-3 {
    align-items: center;
    width: 40%
}

.Img-Card-16-9 {
    align-items: center;
    width: 60%
}


.Img-Card-16-9 img {
    object-fit: cover;
    /* border-radius: 2rem; */
    display: flex;
    max-width: 100%;
    transform: skewY(10deg);
  
}

.Img-Card-4-3 img {
    object-fit: cover;
    /* border-radius: 2rem; */
    display: flex;
    max-width: 100%;
}


.hrz-text-card1 { 
    width: 60%;
    padding: 5rem 2rem;
}
.hrz-text-card1 h1{
    text-align: justify;
    color:#2ab2db;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}
.hrz-text-card2 {
    width: 50%;
    padding: 5rem 2rem;
}

.hrz-text-card1 p{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1rem;
}

.hrz-text-card2 h1{
    letter-spacing: 1px;
    text-align: justify;
    color:#f7f7f7;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}
.hrz-text-card2 p{
    color: #f7f7f7;
    font-weight: 500;
    font-size: 1rem;
}



