/* CONTAINER PAI CORUJA */

.tituloPaicoruja{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    
}
.Paicoruja{
    padding: 2%;
    font-weight:400;
}

/* O CARD HORIZONTAL */
.card-horizontal {
    
    background-image: url(../images/wave-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 50vh;
    padding: 3rem 12%;
    align-items: center;

}

.card-horizontal2 {
    background:#2a27b9;
    display: flex;
    height: 85vh;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 11% ;
    align-items: center;
}

.Img-Card-4-3 {
    align-items: center;
    width: 50%
}

.Img-Card-16-9 {
    align-items: center;
    width: 60%
}


.Img-Card-16-9 img {
    object-fit: cover;
    /* border-radius: 2rem; */
    display: flex;
    max-width: 100%;
    
  
}

.Img-Card-4-3 img {
    object-fit: cover;
    /* border-radius: 2rem; */
    display: flex;
    max-width: 100%;
}


.hrz-text-card1 { 
    width: 100%;
    padding: 0rem 2rem;
}
.hrz-text-card1 h1{
    text-align: center;
    color:#2735e0;
    
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.hrz-text-card2 {
    width: 50%;
    padding: 5rem 2rem;
}

.hrz-text-card1 p{
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.hrz-text-card2 h1{
    letter-spacing:5px;
    
    color:#f7f7f7;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}
.hrz-text-card2 p{
    color: #f7f7f7;
    font-weight: 500;
    font-size: 1rem;
}
.hrz-text-card2 .btn-saberMais{
    border: none;
    width:10vw;
    text-align: center;
    display: block;
    margin-top:30px;
    align-items: center;
    outline: none;
    font-weight: bold;
    color: #f7f7f7;
    background: linear-gradient(to right, #2735E0,#70e1f5 );
    padding: 10px 20px;
    
    border-radius: 20px;
    text-decoration: none;
    transition: 0.8s ease;
}
.hrz-text-card2 .btn-saberMais p{
    color: #f7f7f7;

    transition: 0.7s ease;
    padding: 2px 5px;
}

.ul-card-especificacoes{
    color: #f7f7f7;
    list-style: circle;
    font-size: 1.2rem;
    font-weight:lighter;
}


