/* NAV, MENU SEI LÁ */

.logo{
    transition: 0.6s;
    min-width:200px;
    max-width: 200px;
}
.sticky .logo .st0{fill:#040C28; transition: 0.5s;}
.sticky .logo .st1{fill:#2BD684; transition: 0.5s;}
.sticky .logo .st2{fill:#2AB2DB; transition: 0.5s;}
.sticky .logo .st3{fill:#5724E2; transition: 0.5s;}
.sticky .logo .st4{fill:#2735E0; transition: 0.5s;}
.sticky .logo .st5{fill:#287ADD; transition: 0.5s;}
.sticky .logo .st6{fill:none;stroke:#287ADD;stroke-width:8;stroke-miterlimit:10; transition: 0.5s;}
.mobile-menu{
    cursor: pointer;
    z-index: 1;
    display: none;
}
.mobile-menu div {
    height: 2px;
    width:32px;
    margin: 6px;
    background-color: #f7f7f7;
    transition: 0.3s;
}
.nav-links{
    color:#f7f7f7;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.6s;
    
}

.nav-links:hover{
    
    opacity: 0.6;
}

.nav-list{
    list-style: none;
    display:flex;
}

.nav-list li{
    
    position:relative;
    margin-left:32px
}

nav{
    transition: 0.4s;
    padding: 50px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    position: fixed;
    z-index:100000;
    

}
.sticky{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow:  0 0 2em #dcdcdc;
    backdrop-filter: blur(10px);

}
.sticky .nav-links{
    color:#1d1d1d;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.6s;
}
.sticky .nav-links:hover{
    color:#287add;
    opacity: 0.6;
} 
.sticky .mobile-menu div {
    height: 2px;
    width:32px;
    margin: 6px;
    background-color: #287add;
    transition: 0.3s;
}