@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


@import url("nav-menu.css");
@import url("banner.css");
@import url("container-pai-coruja.css");
@import url("equipe-dev.css");
@import url("contato.css");
@import url("parceiros-bifrost.css");
@import url("rodape.css");
@import url("os-media.css");

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    font-family: Lexend, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #c1b5ff;
  } 

  ::-webkit-scrollbar-thumb {
    background: #2f01d4;
  }

body{
    background:#f3f3f3; 
}


h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}

.fraseTopo{
    
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    width: 100%;
    color: #2f3747;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.frase-topo-contato{
    
    justify-content: left;
    align-items: left;
    padding: 20px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.frase-topo-equipe{
    
    justify-content: right;
    align-items:right;
    padding: 0rem 12%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.frase-topo-servicos{
    
    justify-content: left;
    align-items: left;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0rem 12%;
    width: 100%;
    text-align: left;
    
}
.p-negrito-azul-frasetopo{
    font-weight: bold;
    font-size: 1.25rem;
    color:#2735E0;
}
.titulo-section{
    font-family: 'Poppins', sans-serif;
    
    font-weight:bold;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* AQUI VC VAI TER UM CONTAINER FLEX, CARACTERISTICA? FLEX BOX NÉ FILHÃO, USA PRA DEIXAR RESPONSIVO*/


.container-flex{
   
    padding:6% auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 5rem;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin:0% auto;
    gap: 2rem;
}
.sobre{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
   
    
}


.equipe{
    
    background-size: cover;
    
}
.servicos{
    padding:0% auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0rem;
    background-size: cover;
    background-position: bottom;
    background-image: url(../images/wave.svg);
    
}

/* CARDS */

.card{
    background-color: #f7f7f7;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 250px;
    color: #2f3747;
    padding:40px 20px ;
    border: 0px solid #2735E0;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 1em #dcdcdc;
    transition: 0.7s;
}

.titulo-card{
    
    font-weight: bold;
    margin-top:10px;
    color: #2f3747;

}
.text-card{
    
    margin-top:10%;
    color: #1d1d1d;

}
.Img-card-topo{

    border-radius:0px;
    font-size: 5rem;
    text-align: center;
    max-width: 35%;
    margin: 0 auto;
}
.Img-card-equipe{
    border-radius:180px;
    max-width: 70%;
}



/* Plataforma */


.container-plataformas{
    
    padding: 2rem 12% 5rem 12%;
    width: 100%;

    align-items: center;
    flex-wrap: wrap;
    
    display:flex;
    justify-content: space-between;
    flex-direction: row;

}
.container-ilustration{
    width: 50%;
    padding-right: 1rem;
}
.ilustration-plataform-content{
    width: 100%;
    margin-top: 0rem;
}
.ilustration-plataform-content img{
    max-width: 100%;
}

.container-cards-plataformas{
    width: 50%;
    
    gap: 1rem;
    display: flex;
    
    
    flex-direction: row;
    align-items: center;
    
}
.container-cards-plataformas .card{
    background-color: #f7f7f7;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    min-width: calc(100%/3);
    min-height:200px ;
    color: #2f3747;
    padding:40px 20px ;
    border: 0px solid #2735E0;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 2em #dcdcdc;
    transition: 0.7s;
}
.container-cards-plataformas .Img-card-topo{

    border-radius:0px;
    font-size: 5rem;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    color:#2f3747;
}











